.menu__title {
    font-family: 'Cormorant Infant';
        font-size: 40px;
        line-height: 56px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
        color: #292E36;
}

.menu__text {
    font-family: 'Josefin Sans';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #555555;
        margin-top: 15px;
        margin-bottom: 45px;
        width: 486px;
}

.menu__container {
    display: flex;
}

.menu__button {
    font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #E1B168;
        border: 2px solid #E1B168;
            border-radius: 0px;
            padding: 20px 57px;
            background-color: white;
            margin-top: 60px;
            
}

.menu__button:hover,
.menu__button:focus {
    color: #e1b120;
    background-color: #fffff7;
}

.menu-price__text {
    display: flex;
    align-items: baseline;
    font-family: 'Josefin Sans';
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #555555;
}
.menu-price__text::after {
    content: "";
    width: 260px;
    display: block;
    background: #AAAAAA;
    height: 2px;
}

.menu-price__title {
    font-family: 'Cormorant Infant';
        font-size: 30px;
        line-height: 42px;
        letter-spacing: 0.2px;
        color: #292E36;
}

